.container {
    max-width: 1000px;
    margin:1em auto;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.wide {
    width:100%;
}

textarea {
    padding: 0.5em;
    line-height: 1.5;
}

input {
    padding: 0.5em;
}

button {
    margin:1em;
    padding:0.5em;
    border-radius: 0.5em;
    background: inherit;
    font-size: 1.4em;
    background-color: aqua;
    cursor: pointer;
}

.center {
    margin-left:auto;
    margin-right: auto;
    display: block;
}